.taskProgress__container {
  background-color: #a6c7c5;
  width: 100%;
  max-width: 500px;
  height: 600px;
  margin: 25px;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
}

.taskProgress__title {
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  color: black;
  font-family: "Libre Baskerville", serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(245, 240, 240);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 33, 33);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 92, 160);
}

@media (max-width: 1500px) {
  .taskProgress__title {
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
    color: black;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5em;
  }

  .taskProgress__container {
    overflow-x: hidden;
  }

  .taskProgress__container {
    background-color: #a6c7c5;
    width: 100%;
    max-width: 450px;
    height: 470px;
    margin: 25px;
    overflow-x: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
  }
}
