.todo-list__Container {
  background-color: #464646;
  width: 450px;
  height: 500px;
  overflow: auto;
  border-radius: 10px;
}

.todo-list__title {
  text-align: center;
  letter-spacing: 1px;
  color: #66f3ed;
  font-weight: bold;
}

.todo-list__taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
}

.todo-list__deleteBtn {
  background-color: rgb(199, 59, 8);
  cursor: pointer;
  border: 0.5px solid white;
}

.todo-list__listItem {
  align-self: center;
  color: #43d6d1;
}

.todo-list__label {
  color: white;
  font-size: 1.5em;
}

/* buttons */
.todo-list__startBtnContainer {
  text-align: center;
}

.todo-list__startBtn {
  padding: 0.5em;
  width: fit-content;
}

.todo-list__deleteBtn {
  margin-right: 1em;
  align-self: center;
}
