.inprogress__Container{
    background-color: #464646;
    width: 450px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
}

.inProgress_title{
    text-align: center;
    letter-spacing: 1px;
    color: #66f3ed;
    font-weight: bold;
}