.add-Todo__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2em;
  height: inherit;
}

.add-Todo__inputWrapper {
  display: flex;
  flex-direction: row;
  margin: 0.3em;
  width: 100%;
}

.add-Todo__input {
  padding: 0.8em;
  width: 200px;
  font-size: 16px;
}

/* buttons */
.add-Todo__taskBtn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  padding: 0.6em 3em;
  border: 1px solid black;
  color: black;
}
.add-Todo__taskBtn:hover {
  background-color: rgb(211, 102, 102);
  transition: 0.3s;
  color: white;
  font-weight: bolder;
}
.add-Todo__taskBtn:disabled {
  cursor: not-allowed;
}

@media (min-width: 300px) {
  .add-Todo__inputWrapper {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }
}
