.header__container{
    display: flex;
    justify-content: space-between;
    background-color: #43d6d1;
    height: 25vh;
}

.header__logo{
    width: 300px;
    margin: 2em;
    border-radius: 10px;
}


@media (max-width:700px){
    .header__container{
        flex-direction: column;
        margin: 0 auto;
    }
}
