.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #1fcecb;
  height: 25vh;
  border-bottom: 1px solid red;
}

.header__logo {
  width: 300px;
  margin: 1em;
  border-radius: 10px;
}

@media (max-width: 620px) {
  .header__container {
    flex-direction: column;
    margin: 0 auto;
  }

  .header__logo {
    width: 50%;
    margin: 0.5em auto;
    border-radius: 10px;
    display: flex;
    /* padding: 1em 0; */
    box-shadow: 1px 1px black;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    background-color: #43d6d1;
    height: auto;
  }
}
