*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.app-container{
   display: flex;
   flex-direction: row;

}

@media(max-width: 700px){
   .app-container{
      flex-direction: column;
   }
}